footer {
  height: 50px;
  background: #000000;
  /* margin-top: 20px; */
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 0;
    height: 60px;
  }
}
